In [4]:
# importing required modules 
import PyPDF2 
  
# creating a pdf file object 
pdfFileObj = open('DistrictWiseList324.pdf', 'rb') 
  
# creating a pdf reader object 
pdfReader = PyPDF2.PdfFileReader(pdfFileObj) 
  
# printing number of pages in pdf file 
print(pdfReader.numPages) 
  
# creating a page object 
pageObj = pdfReader.getPage(0) 
data=pageObj.extractText()
  
# extracting text from page 
print(pageObj.extractText())

4
State/District wise details of Positive cases of Covid19

State

No of
Dist

District

No of Positive
cases

A&N Islands

1
#


1
*

Andhra Pradesh

8
#

Chitoor

1

East Godavari

2

Guntur

1

Krishna

1

Nellore

1

Prakasam

1

Vijayawada,Krishna

1

Vizag

3


1
*

BIHAR

2
#

MUNGER

2

PATNA

3


1
*

Chandigarh

1

Chandigarh

7

Chhattisgarh

2
#

Raipur

2

Rajnandgaon

1


3
*

Delhi

8
#

Central

3

East Delhi

5

North Delhi

4

North East

5

North West

5

South Delhi

5

South West

3

West Delhi

5


1
*

Goa


#


3
*

Gujarat

6
#

Ahmedabad

14

Gandhinagar

7

Kutch

1

Rajkot

3

Surat

6

Vadodara

7


5
*

Haryana

6

Faridabad

1

Gurugram

24

Palwal

1

Panchkula

1

Panipat

2

Sonipat

1

Himachal Pradesh

1

Kangra

3

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
data=pd.read_csv('DistrictWiseList324.csv')

In [21]:
data['State/District wise details of Positive cases of Covid19']

0                                                    NaN
1                                                  State
2                                                    NaN
3                                            A&N Islands
4                                                    NaN
5                                                    NaN
6                                                    NaN
7                                                    NaN
8                                        Andhra Pradesh
9                                                    NaN
10                                                   NaN
11                                                   NaN
12                                                   NaN
13                                                   NaN
14                                                BIHAR
15                                                   NaN
16                                           Chandigarh
17                                                   NaN
18                                         Chhattisgarh
19                                                   NaN
20                                                   NaN
21                                                   NaN
22                                                   NaN
23                                                   NaN
24                                                Delhi
25                                                   NaN
26                                                   NaN
27                                                   NaN
28                                                   NaN
29                                                  Goa
                             ...
131                                                  NaN
132                                                  NaN
133                                           Telangana
134                                                  NaN
135                                                  NaN
136                                                  NaN
137                                                  NaN
138                                                  NaN
139                                                  NaN
140                                                  NaN
141                                                  NaN
142                                                  NaN
143                                       Uttar Pradesh
144                                                  NaN
145                                                  NaN
146                                                  NaN
147                                                  NaN
148                                                  NaN
149                                                  NaN
150                                         Uttarakhand
151                                                  NaN
152                                                  NaN
153                                                  NaN
154                                         West Bengal
155                                                  NaN
156                                                  NaN
157                                               Total
158                       Total District affected - 132
159    # Likely to change once districts of all known...
160    * The details of the districts are being ascer...
Name: State/District wise details of Positive cases of Covid19, Length: 161, dtype: object

In [14]:
data['Unnamed: 1']

0      No of
1        NaN
2      Dist
3        1#
4        NaN
5        NaN
6        NaN
7        NaN
8        8#
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       2#
15       NaN
16         1
17       NaN
18       2#
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       8#
25       NaN
26       NaN
27       NaN
28       NaN
29        #
       ...
131      NaN
132      NaN
133        8
134      NaN
135      NaN
136      NaN
137      NaN
138      NaN
139      NaN
140      NaN
141      NaN
142      NaN
143       11
144      NaN
145      NaN
146      NaN
147      NaN
148      NaN
149      NaN
150        2
151      NaN
152      NaN
153      NaN
154      3#
155      NaN
156      NaN
157    132#
158      NaN
159      NaN
160      NaN
Name: Unnamed: 1, Length: 161, dtype: object

In [29]:
data[data['Unnamed: 2']=='pali']

Empty DataFrame
Columns: [State/District wise details of Positive cases of Covid19, Unnamed: 1, Unnamed: 2, Unnamed: 3]
Index: []

In [16]:
data['Unnamed: 3']

0      No of Positive
1                 NaN
2              cases
3                 1*
4                   1
5                   2
6                   1
7                   1
8                   1
9                   1
10                  1
11                  3
12                1*
13                  2
14                  3
15                1*
16                  7
17                  2
18                  1
19                3*
20                  3
21                  5
22                  4
23                  5
24                  5
25                  5
26                  3
27                  5
28                1*
29                3*
            ...
131                27
132                 1
133                 1
134                 1
135                 3
136                 7
137                 1
138                 8
139                14
140                 3
141                 1
142                 1
143                 1
144                 8
145                 1
146                 2
147                 1
148                 1
149                 4
150               NaN
151                 1
152                 6
153                 2
154               NaN
155                 1
156               1*
157               724
158               NaN
159               NaN
160               NaN
Name: Unnamed: 3, Length: 161, dtype: object

In [25]:
data[data['State/District wise details of Positive cases of Covid19']=='Rajasthan']

,State/District wise details of Positive cases of Covid19,Unnamed: 1,Unnamed: 2,Unnamed: 3
113,Rajasthan,7#,NaN,NaN

In [24]:
data

,State/District wise details of Positive cases of Covid19,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,No of,NaN,No of Positive
1,State,NaN,District,NaN
2,NaN,Dist,NaN,cases
3,A&N Islands,1#,NaN,1*
4,NaN,NaN,Chitoor,1
5,NaN,NaN,East Godavari,2
6,NaN,NaN,Guntur,1
7,NaN,NaN,Krishna,1
8,Andhra Pradesh,8#,Nellore,1
9,NaN,NaN,Prakasam,1
10,NaN,NaN,"Vijayawada,Krishna",1
11,NaN,NaN,Vizag,3
12,NaN,NaN,NaN,1*
13,NaN,NaN,MUNGER,2
14,BIHAR,2#,PATNA,3
15,NaN,NaN,NaN,1*
16,Chandigarh,1,Chandigarh,7
17,NaN,NaN,Raipur,2
18,Chhattisgarh,2#,Rajnandgaon,1
19,NaN,NaN,NaN,3*
20,NaN,NaN,Central,3
21,NaN,NaN,East Delhi,5
22,NaN,NaN,North Delhi,4
23,NaN,NaN,North East,5
24,Delhi,8#,North West,5
25,NaN,NaN,South Delhi,5
26,NaN,NaN,South West,3
27,NaN,NaN,West Delhi,5
28,NaN,NaN,NaN,1*
29,Goa,#,NaN,3*
...,...,...,...,...
131,NaN,NaN,Hyderabad,27
132,NaN,NaN,Karimnagar,1
133,Telangana,8,Madchal,1
134,NaN,NaN,Mahboobnagar,1
135,NaN,NaN,Medchal,3
136,NaN,NaN,Ranga Reddy,7
137,NaN,NaN,Warangal (U),1
138,NaN,NaN,Agra,8
139,NaN,NaN,GB Nagar,14
140,NaN,NaN,Ghaziabad,3
141,NaN,NaN,Jaunpur,1
142,NaN,NaN,Kanpur,1
143,Uttar Pradesh,11,Lakhimpur Kheri,1
144,NaN,NaN,Lucknow,8
145,NaN,NaN,Moradabd,1
146,NaN,NaN,Philibhit,2
147,NaN,NaN,Shamli,1
148,NaN,NaN,Varanasi,1
149,NaN,NaN,Dehradun,4
150,Uttarakhand,2,NaN,NaN
151,NaN,NaN,Pauri Garhwal,1
152,NaN,NaN,Kolkata,6
153,NaN,NaN,North 24 Pargana,2
154,West Bengal,3#,NaN,NaN
155,NaN,NaN,South 24 Pargana,1
156,NaN,NaN,NaN,1*
157,Total,132#,NaN,724
158,Total District affected - 132,NaN,NaN,NaN
159,# Likely to change once districts of all known...,NaN,NaN,NaN
160,* The details of the districts are being ascer...,NaN,NaN,NaN

In [30]:
import COVID19Py
covid19 = COVID19Py.COVID19()

In [38]:
location = covid19.getLocationByCountryCode('IN')

In [39]:
location

[{'id': 131,
  'country': 'India',
  'country_code': 'IN',
  'country_population': 1173108018,
  'province': '',
  'last_updated': '2020-03-28T12:56:23.898742Z',
  'coordinates': {'latitude': '21.0', 'longitude': '78.0'},
  'latest': {'confirmed': 887, 'deaths': 20, 'recovered': 0}}]

In [36]:
data = covid19.getAll()

In [52]:
data['locations'][0]

{'id': 0,
 'country': 'Afghanistan',
 'country_code': 'AF',
 'country_population': 29121286,
 'province': '',
 'last_updated': '2020-03-28T12:55:26.463304Z',
 'coordinates': {'latitude': '33.0', 'longitude': '65.0'},
 'latest': {'confirmed': 110, 'deaths': 4, 'recovered': 0}}

In [4]:
helps=pd.read_csv('coronvavirushelplinenumber (1).csv')

In [13]:
n=int(helps[helps['Name of the State']=='Goa']['Helpline Nos.'])

In [14]:
n

104

In [15]:
covid_19=pd.read_csv('D:\\hackathon_Adhoc\\covid19-corona-virus-india-dataset\\complete.csv')
state=covid_19[covid_19['Name of State / UT']==citys['candidates'][0]]
covid_19=covid_19[covid_19['Name of State / UT']==citys['candidates'][0]['formatted_address'].split(',')[1][1:]]

NameError: name 'citys' is not defined